// ===================================================================
// 設定
// ===================================================================

// 色
$black  : #2d355a;
$red    : #fe0002;
$navy   : #2d355a;
$pink   : #e299b0;
$blue   : #0087d2;
$lblue  : #94dbdf;
$green  : #009799;
$orange : #ef6a18;
$yellow : #ffdc01;

$gray : #d1d1d1;

$path : '/365FREED/assets/img/';
$pathCommonTatsuzin : '/365FREED/assets/common/img/tatsuzin/';

// -----------------------------------------------------------------
// size
// -----------------------------------------------------------------
// 文字間
$lp : 0.08em;
$lh : 1.8;

// フォントの太さ
$fwN : 900;
$fwR : 400;
$fwB : 700;

// フォントファミリー
$jpFont : 'ヒラギノ角ゴ W5 JIS2004', 'Hiragino Kaku Gothic W5 JIS2004', sans-serif;
$jpFontBold : 'ヒラギノ角ゴ W6 JIS2004', 'Hiragino Kaku Gothic W6 JIS2004', sans-serif;
$veEnFont : century-gothic, sans-serif;